@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*colors used*/
:root{
    --primary-bg-color: black; 
    --secondry-bg-color: rgb(55, 55, 66); 
    --bg-btn: #007bff;
    --bg-btn-hover:#3c99fc;
    --bg-btn-hover-2:#0056b3;
    --font-color-light:#f0f0f0;
    --font-color-dark:#333;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Comfortaa , Monteserrat;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: var(--font-color-light);
}

/*----------------------/*
    Common Class
/*----------------------*/

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*----------------------/*
    Header

    -header: Styled with a secondary background color, shadow, and padding. 
    -The #logo-section and #toggle-button-section are flex containers to manage the layout of the logo and navigation elements.
    -.logo: Styles the logo container with a white background, rounded corners, and an inset shadow.
    -#day-night: A button styled for toggling between day and night themes, with hover effects changing its background and font colors.
/*----------------------*/
header {
    background-color: var(--secondry-bg-color);
    height: 100px;
    padding-top: 20px;
    box-shadow: 0 0 6px #ffffffe7;
    z-index:10;
}

#logo-section {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.logo {
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    box-shadow: 0 0 5px black inset;
}

.logo img{
    max-width:235px;
}

#toggle-button-section {
    display: flex;
}

#toggle-button-section button {
    height: 32px;
    width: 80px;
    border: none;
    cursor: pointer;
}

#day-night{
    border-radius: 5px;
    background-color: var(--bg-btn);
    color: #333;
}
#day-night:hover{
    background-color: var(--bg-btn-hover);
    color: var(--font-color-light);
}

/*----------------------/* 
    navigation
    
    -Navigation Container (header nav): Centers the navigation menu with a maximum width of 550px.
    -Navigation List (header nav ul): Uses flexbox to evenly space the list items.
    -Navigation Items (header nav ul li, header nav ul li a): Removes default list styling, centers text, and sets text color to #f0f0f0 with a fixed width of 50px.
    -Navigation Link Hover (header nav ul li a:hover): Changes the text color to var(--bg-btn-hover), increases font size to 18px, and underlines the text
    
/*----------------------*/

header nav {
    max-width: 550px;
    margin: auto;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}

header nav ul li,
header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--font-color-light);
    width: 50px;
    text-align: center;
}
header nav ul li a:hover {
    color: var(--bg-btn-hover);
    font-size: 18px;
    text-decoration: underline;
}

/*----------------------/*
    Home section

    -Container (#home): Centered text, semi-transparent black background, and white bottom border.
    -Heading (#home h1): Large font size with bottom margin.
    -Paragraph (#home p): Slightly smaller font size with bottom margin.
    -Profile Image Container: Circular shape with scaling effect on hover.
    -Profile Image: Covers the full container area with aspect ratio maintained.
    -Social Icons: Rounded borders, neutral color, and color change on hover.
    -Download Resume Button: Padding, background color change on hover, and rounded corners.
/*----------------------*/

#home {
    text-align: center;
    padding: 6.5rem 1rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.612);
    border-bottom: 2px solid white;
}

#home .background-image {
    background-image: url("../images/home.png");
}

#home h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#home p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.profile-image-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s;
}

.profile-image-container:hover {
    transform: scale(1.1);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons {
    margin-bottom: 2rem;
}

.social-icons a {
    margin: 0 0.5rem;
    border-radius: 30%;
    border: solid 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #828282;
    transition: color 0.3s;
}

.social-icons a i{
    border-radius: inherit;
}

.social-icons a:hover {
    color: var(--bg-btn-hover);
}

.download-resume-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--bg-btn);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-resume-button:hover {
    background-color: var(--bg-btn-hover-2);
}

/*----------------------/*
    About section

    -Container (#about): Centered with padding, dark background color, rounded corners, and a subtle box shadow.
    -Heading (#about h2): Large font size with margin at the bottom.
    -Content Layout (.about-content): Flexbox layout for centering content vertically and horizontally.
    -Text (.about-text): Max-width for readability, with appropriate font size, margin, and line height.
    -Read More Button (.read-more-button): Styled with padding, background color, rounded corners, and hover effect changing the background color.
    -About Image Container (.about-image-container): Circular shape with scaling effect on hover, maintaining smooth transitions.
    -About Image (.about-image): Covers the container fully with aspect ratio preserved.
/*----------------------*/

#about {
    padding: 4rem 1rem;
    background-color: #333;
    text-align: center;
    max-width: 1200px;
    margin: 6rem auto;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0px rgba(255, 255, 255, 0.1);
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 600px;
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    line-height: 24px;
}

.read-more-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: var(--bg-btn);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more-button:hover {
    background-color: var(--bg-btn-hover-2);
}

.about-image-container {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    transition: all 0.3s ;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-image-container:hover {
    transform: scale(1.1);
}

/*----------------------/*
    Skills section

    -Container (#skills): Centered with padding, a dark semi-transparent background, and a white top border.
    -Background Image: A background image is set with a contain size, adding visual interest.
    -Heading (#skills h2): Large font size with margin for spacing.
    -Skills Layout (.skills-container): Flexbox layout for centering and wrapping skill items.
    -Skill Item (.skill): Center-aligned text with margin and width constraints for consistent sizing.
    -Skill Name (.skill-name): Styled with a larger font size and bottom margin.
    -Progress Bar (.progress-bar): Styled with a light background, rounded corners, and hidden overflow to show progress.
    -Progress Indicator (.progress): Animated and transition-enabled to fill the progress bar based on data attributes. Various widths are applied based on skill levels (e.g., 90%, 80%).
    -Animation (@keyframes skill): Smooth animation of the progress bar width from 0% to the desired percentage.
/*----------------------*/

#skills {
    position: relative;
    padding: 5rem 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.612);
    margin: 6rem auto;
    border-top: 2px solid white;
}

#skills .background-image {
    background-image: url("../images/skills.png");
    background-size: contain;
}

#skills h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 2rem;
    text-align: center;
    width: 80%;
    max-width: 400px;
}

.skill-name {
    font-size: 1.25rem;
    margin-bottom: 1.2rem;
}

.progress-bar {
    background-color: #ccc7c7;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
    width: 100%;
    position: relative;
    text-align: end;
}

.progress {
    background: linear-gradient(to right, rgba(255, 132, 0, 0.516), rgb(61, 61, 243) , rgb(212, 65, 65));
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease-in-out;
    animation: skill 2s 1s linear;
}

@keyframes skill {
    0% {
        width:0%
    }
}

.progress-bar[data-progress="90"] .progress {
    width: 90%;
}
.progress-bar[data-progress="80"] .progress {
    width: 80%;
}
.progress-bar[data-progress="75"] .progress {
    width: 75%;
}
.progress-bar[data-progress="70"] .progress {
    width: 70%;
}
.progress-bar[data-progress="65"] .progress {
    width: 65%;
}
.progress-bar[data-progress="60"] .progress {
    width: 60%;
}

/*----------------------/*
    Certification section

    -Heading (#certifications h2): Centered with large font size and margin for spacing.
    -Certification Cards Container (.certification-cards): Flexbox layout for wrapping and centering cards with black text color.
    -Certification Card (.certification-card): Light background color, rounded corners, subtle box shadow, and padding. Positioned with text aligned to the left.
    -Certification Badge (.certification-card span): Positioned at the bottom-right with a background image, sized and positioned to fit within the card.
    -Certification Card Titles (.certification-card h3): Styled with a larger font size and margin at the bottom.
    -Certification Card Text (.certification-card p): Styled with a smaller font size and bottom margin.
    -View Certificate Button (.view-certificate-button): Inline-block button with padding, background color, rounded corners, and a hover effect that changes the background color.
/*----------------------*/

#certifications h2 {
    font-size: 2rem;
    margin: 6rem auto;
    text-align: center;
}

.certification-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black ;
}

.certification-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    width: 400px;
    min-height: 200px;
    position: relative;
}
.certification-card span {
    position: absolute;
    bottom: 5px;
    right: 2px;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}

#certificate-1{
    background-image: url(../images/special-png-images/pngwing.com\ \(4\).png);
}
#certificate-2{
    background-image: url(../images/special-png-images/sololearn_logo_icon_249580.png);
}
#certificate-3{
    background-image: url(../images/special-png-images/PikPng.com_flex-logo-png_3828601.png);
}

.certification-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.certification-card p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.view-certificate-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color:var(--bg-btn);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.view-certificate-button:hover {
    background-color: var(--bg-btn-hover-2);
}

/*----------------------/*
    Service section

    "Service" section styled with reference to the similar classes used in the "Certification" section:
        -Service Section Heading (#services h2): Centered text with a font size of 2rem and top and bottom margins of 6rem.
        -Service Card (.service-card): Transparent background, white border, and white text. Includes a transition effect for scaling on hover.
        -Service Card Text (.service-card p): Centered with margins and line-height for readability.
        -Service Card Hover Effect: Scales up slightly (1.05) and adds a shadow effect, similar to the hover effect in the "Certification" section.
    
    Shared Classes with Certification Section:
        -certification-cards class is shared with this section as the same requirement is needed accept some of the properties.

/*----------------------*/

#services h2 {
    font-size: 2rem;
    margin: 6rem auto;
    text-align: center;
}

.service-card{
    background: transparent !important;
    color: white ;
    border: 1px solid white ;
    transition: transform 1s;
}

.service-card p{
    margin: 1.2rem auto;
    line-height: 1.4rem;
}

.service-card:hover {
    -webkit-transform: scale(1.05);
    box-shadow: 0 0 10px var(--bg-btn);
}

/*----------------------/*
    Project section

    -Heading (#projects h2): Centered with a large font size and margin for spacing.
    -Project Card (.project-card): Light background, centered background image, rounded corners, and a box shadow. Positioned with text aligned to the left, and includes overflow hidden for content clipping.
    -Project Content (.project-content): Positioned absolutely with padding, a semi-transparent background, and a transition effect that moves it up on hover.
    -Hover Effect: On hover, the project content slides up to reveal details (transform: translateY(-100%)).
    -Project Card Background Images: Each card has a unique background image, set using background-image property.

    Shared Classes with Certification Section:
        -.certification-cards is shared with this section.
/*----------------------*/

#projects h2{
    font-size: 2rem;
    margin: 6rem auto;
    text-align: center;
}

.project-card {
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    text-align: left;
    width: 400px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.project-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.project-content{
    position: absolute;
    border-radius: 10px;
    padding: 1.2rem;
    text-align: left;
    height: inherit;
    bottom: -100%;
    transition: all 1s ease-in-out;
    background-color: #e3e0e09a;
}

.project-card:hover .project-content {
    transform: translateY(-100%);
}

.project-card:nth-child(1){
    background-image: url("../images/online-shopping.jpg");
}
.project-card:nth-child(2){
    background-image: url("../images/fittness-website.jpg");
}
.project-card:nth-child(3){
    background-image: url("../images/blog-website.jpg");
}
.project-card:nth-child(4){
    background-image: url("../images/portfolio-website.png");
}
.project-card:nth-child(5){
    background-image: url("../images/password-manager.jpg");
}
.project-card:nth-child(6){
    background-image: url("../images/to-do-website.jpg");
}

/*----------------------/*
    Contact section

    -Container (#contact): Centered with padding, dark semi-transparent background, rounded corners, and a margin for spacing.
    -Background Image: Background image set with background-image property.
    -Heading (#contact h2): Centered with a large font size and margin.
    -Contact Form (.contact-form): Centered with a maximum width and left-aligned text.
    -Form Group (.form-group): Margin at the bottom for spacing between fields.
    -Labels (.form-group label): Bold font and margin for spacing.
    -Inputs and Textareas (.form-group input, .form-group textarea): Full width, padded, with rounded corners, background color, and subtle shadow. Focus state includes a border color change.
    -Submit Button (.submit-button): Block display, full width, padded, with background color that changes on hover and rounded corners for a clickable appearance.
/*----------------------*/

#contact {
    position: relative;
    padding: 3rem 1rem;
    margin: 2rem auto;
    text-align: center;
    max-width: 1200px;
    margin: 5rem auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.612);
}

#contact .background-image {
    background-image: url("../images/contact.png");
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 25px;
    color: #9c9b9b;
    border: 1px solid #2c2b2b00;
    box-shadow: 0 0 5px rgb(253, 250, 250) inset;
    font-size: 1rem;
    background-color: #333333b5;
}

.form-group input:focus,
.form-group textarea:focus {
    border: 2px solid;
    border-color: #dee1e4;
    outline: none;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: var(--bg-btn);
    color: white;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: var(--bg-btn-hover);
}

/*----------------------/*
    Footer section

    -Footer Container (footer): White text color for the footer content.
    -Footer Main (#footer-main): Flexbox layout with wrapping for responsive design, centered alignment, dark background color, and set height.
    -Footer Logo (#footer-logo): White background with slight transparency, margin at the bottom.
    -Footer Paragraphs (footer p): Centered text with padding.
    -Footer Content Box (#footer-main .footer-content-box): Heading with margin and text styled for readability.
    -Footer Navigation (.footer-nav): Unordered list styled for no list bullets, with links styled in white and no text decoration.
    -Footer Social Links (#footer-social-links): Dark background with padding, centered social media links with spacing and hover effects that change link color.
/*----------------------*/

footer {
    color: white;
}

#footer-main {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(33, 30, 30);
}
#footer-logo{
    background-color:#ffffffbe;
    display: inline-block;
    margin-bottom: 1rem;
}

footer p {
    text-align: center;
    padding: 10px 0px;
}

#footer-main .footer-content-box h2 {
    margin-bottom: 20px;
}

#footer-main .footer-content-box p {
    text-align: start;
    font-size: 14px;
}

#footer-main .footer-content-box .footer-nav li a {
    text-decoration: none;
    color: white;
}

#footer-main .footer-content-box .footer-nav {
    list-style: none;
    margin-top: 20px;
}

#footer-main .footer-content-box .footer-nav li {
    padding: 2px;
    margin-bottom: 8px;
    font-size: 14px;
}

#footer-social-links {
    background-color: rgb(33, 30, 30);
    padding-bottom: 30px;
}

#footer-social-links .social-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}
#footer-social-links .social-links a{
    text-decoration: none;
    color: #828282;
}

#footer-social-links .social-links a:hover{
    color: var(--bg-btn-hover);
}

/*----------------------/*
    Media Queries

    -For screens with a maximum width of 1010px:
        Header: Reduced height to 110px.
        Navigation: Adjusted maximum width to 550px, with margin auto for centering.

    -For screens with a maximum width of 580px:
        Header: Further reduced height to 105px.
        Logo Image: Set width to 180px.
        Navigation Links: Smaller font size for better fit.

    -For screens with a minimum width of 768px:
        About Section: Changed flex direction to row, with spacing around items and alignment centered.
        About Text: Left-aligned text with margin adjustment.
/*----------------------*/

@media(max-width:1010px){

    header {
        height:110px
    }
    header nav {
        max-width: 550px;
        margin: 0.8rem auto;
    }
}

@media (max-width:580px){
    header {
        height:105px
    }
    .logo img{
        width:180px;
    }
    header nav ul li,
    header nav ul li a{
        font-size: small;
    }
}

@media (min-width: 768px) {
    .about-content {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .about-text {
        text-align: left;
        margin-bottom: 0;
    }
}